body {
	background-color: #25373D;
	display: flex;
	flex-direction: column;
	margin: 0;
	justify-content: space-around;
}

.links-list {
	width: 100vw;
	display: flex;
	justify-content: space-around;
}

.link {
	text-decoration: none;
	color: white;
	font-family: monospace;
}